.page-libros {

  &__title {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 230px;
    margin: auto;
    margin-top: 54px;
  }

  &__content {
    width: 400px;
    margin: auto;
    margin-top: 30px;

    &__title {
      display: flex;
      margin-bottom: 16px;

      &__label {
        margin-right: 16px;
        width: 120px;
        display: flex;
        align-items: center;
        
      }

      &__input {
        height: 30px;
        border-radius: 5px;
        width: 180px;
        font-size: 14px;
        padding: 0px 5px;
        outline: none;
      }
    }

    &__autor {
      display: flex;

      &__label {
        margin-right: 16px;
        width: 120px;
        display: flex;
        align-items: center;
      }

      &__input {
        height: 30px;
        border-radius: 5px;
        width: 180px;
        font-size: 14px;
        padding: 0px 5px;
        outline: none;
      }
    }

    &__button{
        width: 165px;
        margin-top: 12px;
        height: 36px;
        border-radius: 100px;
        background-color: #ffffff;
        color: blue;
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: blue;
            color: #ffffff;
        }
    }

  }

}
