<div class="page-libros">
  <div class="page-libros__title">
    {{title}}
  </div>

  <div class="page-libros__content">

    <div class="page-libros__content__title">
      <div class="page-libros__content__title__label">
        Nombre del libro:
      </div>
      <div class="page-libros__content__title__input">
        <input class="page-libros__content__title__input" placeholder="ingrese titúlo" [(ngModel)]="titleBook">
      </div>
    </div>

    <div class="page-libros__content__autor">
      <div class="page-libros__content__autor__label">
        Selecionar autor:
      </div>
      <div class="page-libros__content__autor__input">
        <input class="page-libros__content__autor__input" placeholder="ingrese autor" [(ngModel)]="nameAuthor">
      </div>
    </div>
    <button class="page-libros__content__button" (click)="save()">Guardar</button>
  </div>
</div>
